body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); /* Sidebar initially open */
}

#dashboard {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 200px; /* Account for the sidebar width */
}

/* Style the sidebar header */
#sidebar h2 {
    font-size: 18px;
}

#sidebar ul {
    list-style: none;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
}

/* Style the main content */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 18px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}
